/* Color */
$color-background: #333333;
$color-text: #FFFFFF;

$color-button-red: #DC3545;
$color-button-blue: #0069D9;
$color-button-green: #28A745;

/* Text */
$font-policy: 'Montserrat', sans-serif;
$h2-font-size: 24px;
$h2-font-weight: bold; 
$h3-font-size: 18px;
$h3-font-weight: bold; 
$p-font-size: 12px;
$p-font-weight: normal;

/* Cards */
$radius-cards: 12px;