.btn{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: $color-text;

    &.btn-extend {
        padding: 6px 10px 6px 4px;
        
        & svg{
            margin-right: 6px;
        }
    }
    &.btn-mini {
        padding: 6px;
    }

    &.btn-steam{
        background: url('https://api.iconify.design/fa-brands/steam.svg') no-repeat center center / contain;
        background-color: $color-text;
        padding: 14px;
        border-radius: 50%;
        &:hover{
            background: url('https://api.iconify.design/fa-brands/steam.svg?color=white') no-repeat center center / contain;
        }
    }
    &.btn-add, &.btn-save{
        background-color: $color-button-green;
    }
    &.btn-edit{
        background-color: $color-button-blue;
    }
    &.btn-archive, &.btn-cancel{
        background-color: $color-button-red;
    }
    &.btn-up, &.btn-down{
        background-color: $color-text;
    }
    &.btn-carousel-off{
        background-color: $color-text;
    }
    &.btn-carousel-on{
        background-color: $color-background;
        border: solid 0.5px $color-text;
    }
}